In [1]:
import csv
import pymysql

In [8]:
f = open('title.basics.tsv', 'r', encoding='utf=8')
rd = csv.reader(f, delimiter='\t')

conn=pymysql.connect(host='localhost',user='gotaek',password='gotaek',db='IMDB')
curs=conn.cursor(pymysql.cursors.DictCursor)

sql="insert ignore into genretable (workId,genre) values(%s,%s)"
for line in rd:
    for i in line[8].split(','):
        data=(line[0],i)
        
        curs.execute(sql,data)
        conn.commit()


curs.close()
conn.close()
f.close()

NameError: name 'sql' is not defined