In [1]:
import csv
import pymysql

In [2]:
f = open('title.principals.tsv', 'r', encoding='utf=8')
rd = csv.reader(f, delimiter='\t')

conn=pymysql.connect(host='localhost',user='gotaek',password='gotaek',db='IMDB')
curs=conn.cursor(pymysql.cursors.DictCursor)


for line in rd:

    data=(line[2],line[0],line[3],line[4])
    if line[3]=="actor" or line[3]=="actress":
        sql="insert ignore into actor_known_for (actorId,workId,job,actorCharacter) values(%s,%s,%s,%s)"
    elif line[3]=="director":
        sql="insert ignore into director_known_for(directorId,workId,job,directorCharacter) values(%s,%s,%s,%s)"
    elif line[3]=="writer":
        sql="insert ignore into writer_known_for(writerId,workId,job,writerCharacter) values(%s,%s,%s,%s)"
    else:
        continue
    print(data)
    print(line[4])
    curs.execute(sql,data)
    conn.commit()


curs.close()
conn.close()
f.close()

('nconst', 'tconst', 'category', 'job')
job

NameError: name 'sql' is not defined